<ion-view title="Accueil" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider4" delegate-handle="slider4" id="accueil-slider4" style="width:100%;height:200px;">
      <ion-slide-page id="accueil-slide27" style="background:url(&quot;img/1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="accueil-slide28" style="background:url(&quot;img/3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="accueil-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#B32727;">Welcome to Eldest Assistant application!!!</p>
    </div>
  </ion-content>
</ion-view>
        <!--resp 038242269 eldest 028683537  0695504940-->

<!--
//https://www.leboncoin.fr/locations/1081907957.htm?ca=18_s
//https://www.leboncoin.fr/locations/1080935857.htm?ca=18_s
//https://www.leboncoin.fr/locations/1080947852.htm?ca=18_s
//https://www.leboncoin.fr/locations/1059097281.htm?ca=18_s
//https://www.leboncoin.fr/locations/1078264859.htm?ca=18_s
//hmin302_SERVEUR_ubuntu
-->
