<ion-view title="Jeux" style="background-color:#EAF0E8;">
  <ion-header-bar align-title="center" class="bar-calm">
    <h1 class="title">Jeux</h1>
  </ion-header-bar>
  <ion-content padding="true" >
    
    <ion-list>
       <ion-item class="item-icon-right positive" ng-href="http://fr.ibraining.com/memory/" ng-click='window.open(this.href, "_system", "location=yes"); return false;'>
        <img src="./img/Jeux-48.png" >Trouvez les paires de cartes</ion-item>
        <ion-item class="item-icon-right positive" ng-href="http:mots//fr.ibraining.com/colors/" ng-click='window.open(this.href, "_system", "location=yes"); return false;'>
        <img src="./img/Jeux-48.png" >Couleurs</ion-item>
        <ion-item class="item-icon-right positive" ng-href="http://fr.ibraining.com/memorize/" ng-click='window.open(this.href, "_system", "location=yes"); return false;'>
        <img src="./img/Jeux-48.png" >Mémorisation</ion-item>
        <ion-item class="item-icon-right positive" ng-href="http://fr.ibraining.com/locate/" ng-click='window.open(this.href, "_system", "location=yes"); return false;'>
        <img src="./img/Jeux-48.png" >Localisation</ion-item>
        <ion-item class="item-icon-right positive" ng-href="http://fr.ibraining.com/nback/" ng-click='window.open(this.href, "_system", "location=yes"); return false;'>
        <img src="./img/Jeux-48.png" >N-Back</ion-item>
    </ion-list
  </ion-content>
</ion-view>

<!--

  resp 038242269 elde 028683537
http://fr.ibraining.com/memory/ -> Trouvez toutes les paires de cartes(Memory)
http:mots//fr.ibraining.com/colors/ -> Couleurs
http://fr.ibraining.com/memorize/ -> Mémorisation
http://fr.ibraining.com/locate/ -> Localisation
http://fr.ibraining.com/nback/ ->  N-Back
-->