<ion-view  id="page3">
    <ion-header-bar align-title="center" class="bar-calm">
      <a ui-sref="principalEldest" id="profil-button15" class="button button-calm icon ion-android-home">Home</a>
      <h1 class="title">EldestHome</h1>
      
      <button ui-sref="updateProfil" id="profil-button17" class="button button-calm icon ion-android-create">Update Profile</button>
    </ion-header-bar>

</ion-header-bar>
  <ion-content padding="true">
    
    <!--<div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div>
      <center>
        <h1>Firastname: {{firstname}}   Lastname: {{lastname}}</h1>
        <p>Adresse: {{address}}</p>
      </center>
    </div>-->

    <div class="list card">
        <ion-item class="profile-item">
          <div class="profile-picture big-profile-picture">
            <img src="./img/User-96.png">
          </div>
        </ion-item>
        <ion-item class="profile-item">

          <h2 >{{firstname}} {{lastname}}</h2>
          <div >{{address}}</div>
        </ion-item>
      </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-calm">
      <button id="principal-button23" class="button button-clear"></button>
      <a href="tel:112" id="profil-button31" class="button button-calm icon ion-android-call"></a>
      <button id="principal-button23" class="button button-clear"></button>
  </ion-footer-bar>
</ion-view>

